<div style="text-align:center">
  <p *ngIf="!isOnline" class="alert-error">'No Internet Connection'</p>
  <!-- App Header -->
  <app-header></app-header>
  <app-auth-info></app-auth-info>
  <app-auth-login></app-auth-login>
  <section class="app-content">
    <!-- Ellipsis Pipe Example -->
    <!-- <app-test-ellipsis [text]="variable_text"></app-test-ellipsis> -->
    <!--// -->
    <!-- Jobs List Example -->
    <!-- <app-jobs-list (select)="alertJobId($event)"></app-jobs-list> -->
     <!--// -->
    <!-- Jobs Table Example -->
    <!-- <app-jobs-table (select)="alertJobTitle($event)"></app-jobs-table> -->
    <!--// -->
    <!-- Jobs Table Example -->
    <app-transclusion></app-transclusion>
    <!--// -->
    <!-- Router Outlet -->
    <router-outlet></router-outlet>
    <!--// -->
     <!--// -->
  </section>
  <!-- App Footer -->
  <app-footer></app-footer>
  <!--// -->
</div>

<!-- Custom modal setup -->
<div id="modal-container"  class="hidden"></div>
<div id="overlay" (click)="removeModal()" class="hidden"></div>

